name: Deploy to github.io

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/

      - name: Set React environment using current directory
        run: |
          echo "PUBLIC_URL=/$(basename $(pwd))" >> $GITHUB_ENV

      - name: npm install, lint
        run: |
          export GENERATE_SOURCEMAP=false
          npm install
          npm run lint:fix
          npm run build
          npm run test
        env:
          REACT_APP_BACKEND_URL: ${{ secrets.REACT_APP_BACKEND_URL }}
